<h1>Học Express hơi khó</h1>

<h2><%= title %></h2>

<h2><%- title %></h2>

<!-- if else -->
<% if (check) { %>
<h2><%= title %></h2>
<% } %>

<hr />

<% users.forEach((item) => { %>
<h3><%= item %></h3>

<% }) %>

<hr />

<%- include('./banner.ejs', {title3: title}) %>
